body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white; 
}

header {
    text-transform: uppercase;
    overflow: hidden;
    display: inline-flex;
    background-color: black;
    position: fixed;
    text-align: center;
}

nav {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

button {
    color: black;
    padding: 2em;
    border-radius: 25%;
}

i {
    border-radius: 50%;
    width: 1em;
}

#chef_brand {
    padding: 2em;
}