body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white; 
}

.header {
    text-transform: uppercase;
    overflow: hidden;
    display: inline-flex;
}

a {
    color: white;
}